<div class="container">
    <div class="banner">
        <h1>Landévennec</h1>
    </div>

    <h3>Bienvenue dans le paisible village de Landévennec !</h3>
    <p>Niché au fond de la rade, au cœur du parc naturel régional d'Armorique, ce petit coin de paradis saura vous séduire par la richesse et la variété de ses paysages. Plusieurs sentiers balisés vous permettent de découvrir une nature préservée, entre mer et forêt. Les 1500 ans d'histoire vous feront également voyager à travers les âges, du modeste ermitage de Saint Guénolé au fameux scriptorium, en passant par les invasions vikings et la nouvelle abbaye.</p>
    <div id="gallery" class="gallery">
        <a href="/assets/img/landevennec/1.JPG"><img src="/assets/img/landevennec/1-th.jpg"/></a>
        <a href="/assets/img/landevennec/2.JPG"><img src="/assets/img/landevennec/2-th.jpg"/></a>
        <a href="/assets/img/landevennec/3.JPG"><img src="/assets/img/landevennec/3-th.jpg"/></a>
        <a href="/assets/img/landevennec/4.JPG"><img src="/assets/img/landevennec/4-th.jpg"/></a>
        <a href="/assets/img/landevennec/5.JPG"><img src="/assets/img/landevennec/5-th.jpg"/></a>
        <a href="/assets/img/landevennec/6.JPG"><img src="/assets/img/landevennec/6-th.jpg"/></a>
        <a href="/assets/img/landevennec/7.JPG"><img src="/assets/img/landevennec/7-th.jpg"/></a>
        <a href="/assets/img/landevennec/8.JPG"><img src="/assets/img/landevennec/8-th.jpg"/></a>
        <a href="/assets/img/landevennec/9.JPG"><img src="/assets/img/landevennec/9-th.jpg"/></a>
        <a href="/assets/img/landevennec/10.JPG"><img src="/assets/img/landevennec/10-th.jpg"/></a>
        <a href="/assets/img/landevennec/11.JPG"><img src="/assets/img/landevennec/11-th.jpg"/></a>
        <a href="/assets/img/landevennec/12.JPG"><img src="/assets/img/landevennec/12-th.jpg"/></a>
        <a href="/assets/img/landevennec/13.JPG"><img src="/assets/img/landevennec/13-th.jpg"/></a>
        <a href="/assets/img/landevennec/14.JPG"><img src="/assets/img/landevennec/14-th.jpg"/></a>
        <a href="/assets/img/landevennec/15.JPG"><img src="/assets/img/landevennec/15-th.jpg"/></a>
        <a href="/assets/img/landevennec/16.JPG"><img src="/assets/img/landevennec/16-th.jpg"/></a>
        <a href="/assets/img/landevennec/17.JPG"><img src="/assets/img/landevennec/17-th.jpg"/></a>
        <a href="/assets/img/landevennec/18.JPG"><img src="/assets/img/landevennec/18-th.jpg"/></a>
        <a href="/assets/img/landevennec/19.JPG"><img src="/assets/img/landevennec/19-th.jpg"/></a>
        <a href="/assets/img/landevennec/20.JPG"><img src="/assets/img/landevennec/20-th.jpg"/></a>
        <a href="/assets/img/landevennec/21.JPG"><img src="/assets/img/landevennec/21-th.jpg"/></a>
        <a href="/assets/img/landevennec/22.JPG"><img src="/assets/img/landevennec/22-th.jpg"/></a>
        <a href="/assets/img/landevennec/23.JPG"><img src="/assets/img/landevennec/23-th.jpg"/></a>
        <a href="/assets/img/landevennec/24.JPG"><img src="/assets/img/landevennec/24-th.jpg"/></a>
        <a href="/assets/img/landevennec/25.JPG"><img src="/assets/img/landevennec/25-th.jpg"/></a>
        <a href="/assets/img/landevennec/26.JPG"><img src="/assets/img/landevennec/26-th.jpg"/></a>
        <a href="/assets/img/landevennec/27.JPG"><img src="/assets/img/landevennec/27-th.jpg"/></a>
        <a href="/assets/img/landevennec/28.JPG"><img src="/assets/img/landevennec/28-th.jpg"/></a>
        <a href="/assets/img/landevennec/29.JPG"><img src="/assets/img/landevennec/29-th.jpg"/></a>
        <a href="/assets/img/landevennec/30.JPG"><img src="/assets/img/landevennec/30-th.jpg"/></a>
        <a href="/assets/img/landevennec/31.JPG"><img src="/assets/img/landevennec/31-th.jpg"/></a>
        <a href="/assets/img/landevennec/32.JPG"><img src="/assets/img/landevennec/32-th.jpg"/></a>
        <a href="/assets/img/landevennec/33.JPG"><img src="/assets/img/landevennec/33-th.jpg"/></a>
        <a href="/assets/img/landevennec/34.JPG"><img src="/assets/img/landevennec/34-th.jpg"/></a>
        <a href="/assets/img/landevennec/35.JPG"><img src="/assets/img/landevennec/35-th.jpg"/></a>
        <a href="/assets/img/landevennec/36.JPG"><img src="/assets/img/landevennec/36-th.jpg"/></a>
        <a href="/assets/img/landevennec/37.JPG"><img src="/assets/img/landevennec/37-th.jpg"/></a>
        <a href="/assets/img/landevennec/38.JPG"><img src="/assets/img/landevennec/38-th.jpg"/></a>
        <a href="/assets/img/landevennec/39.JPG"><img src="/assets/img/landevennec/39-th.jpg"/></a>
        <a href="/assets/img/landevennec/40.JPG"><img src="/assets/img/landevennec/40-th.jpg"/></a>
        <a href="/assets/img/landevennec/41.JPG"><img src="/assets/img/landevennec/41-th.jpg"/></a>
        <a href="/assets/img/landevennec/42.JPG"><img src="/assets/img/landevennec/42-th.jpg"/></a>
        <a href="/assets/img/landevennec/43.JPG"><img src="/assets/img/landevennec/43-th.jpg"/></a>
        <a href="/assets/img/landevennec/44.JPG"><img src="/assets/img/landevennec/44-th.jpg"/></a>
        <a href="/assets/img/landevennec/45.JPG"><img src="/assets/img/landevennec/45-th.jpg"/></a>
        <a href="/assets/img/landevennec/46.JPG"><img src="/assets/img/landevennec/46-th.jpg"/></a>
        <a href="/assets/img/landevennec/47.JPG"><img src="/assets/img/landevennec/47-th.jpg"/></a>
        <a href="/assets/img/landevennec/48.JPG"><img src="/assets/img/landevennec/48-th.jpg"/></a>
    </div>
</div>

<div class="navbar-fix"></div>

<script>
    $(document).ready(function() {
        $("#gallery").lightGallery();
    });
</script>