<div class="banner">
    <h1>Le Gîte</h1>
</div>

<div class="container">
    <h3>Une construction artisanale</h3>
    <p>L'Atelier est une cabane tout confort, entièrement réalisée en bois non traité (Douglas) issu de forêts locales, et découpé dans une petite scierie artisanale favorisant le circuit court. Avec une isolation naturelle constituée de laine de bois et chanvre, vous vous y sentirez comme dans un cocon..!</p>
    <div id="ext-gallery" class="gallery">
        <a href="/assets/img/gite-ext/1.JPG"><img src="/assets/img/gite-ext/1-th.jpg"/></a>
        <a href="/assets/img/gite-ext/2.JPG"><img src="/assets/img/gite-ext/2-th.jpg"/></a>
        <a href="/assets/img/gite-ext/3.JPG"><img src="/assets/img/gite-ext/3-th.jpg"/></a>
        <a href="/assets/img/gite-ext/4.JPG"><img src="/assets/img/gite-ext/4-th.jpg"/></a>
        <a href="/assets/img/gite-ext/5.JPG"><img src="/assets/img/gite-ext/5-th.jpg"/></a>
        <a href="/assets/img/gite-ext/6.JPG"><img src="/assets/img/gite-ext/6-th.jpg"/></a>
        <a href="/assets/img/gite-ext/7.JPG"><img src="/assets/img/gite-ext/7-th.jpg"/></a>
        <a href="/assets/img/gite-ext/8.JPG"><img src="/assets/img/gite-ext/8-th.jpg"/></a>
        <a href="/assets/img/gite-ext/9.JPG"><img src="/assets/img/gite-ext/9-th.jpg"/></a>
        <a href="/assets/img/gite-ext/10.JPG"><img src="/assets/img/gite-ext/10-th.jpg"/></a>
        <a href="/assets/img/gite-ext/11.JPG"><img src="/assets/img/gite-ext/11-th.jpg"/></a>
        <a href="/assets/img/gite-ext/12.JPG"><img src="/assets/img/gite-ext/12-th.jpg"/></a>
        <a href="/assets/img/gite-ext/15.JPG"><img src="/assets/img/gite-ext/15-th.jpg"/></a>
        <a href="/assets/img/gite-ext/16.JPG"><img src="/assets/img/gite-ext/16-th.jpg"/></a>
        <a href="/assets/img/gite-ext/17.JPG"><img src="/assets/img/gite-ext/17-th.jpg"/></a>
        <a href="/assets/img/gite-ext/18.JPG"><img src="/assets/img/gite-ext/18-th.jpg"/></a>
        <a href="/assets/img/gite-ext/19.JPG"><img src="/assets/img/gite-ext/19-th.jpg"/></a>
        <a href="/assets/img/gite-ext/20.JPG"><img src="/assets/img/gite-ext/20-th.jpg"/></a>
        <a href="/assets/img/gite-ext/21.JPG"><img src="/assets/img/gite-ext/21-th.jpg"/></a>
        <a href="/assets/img/gite-ext/22.JPG"><img src="/assets/img/gite-ext/22-th.jpg"/></a>
        <a href="/assets/img/gite-ext/23.JPG"><img src="/assets/img/gite-ext/23-th.jpg"/></a>
        <a href="/assets/img/gite-ext/24.JPG"><img src="/assets/img/gite-ext/24-th.jpg"/></a>
        <a href="/assets/img/gite-ext/25.JPG"><img src="/assets/img/gite-ext/25-th.jpg"/></a>
        <a href="/assets/img/gite-ext/26.JPG"><img src="/assets/img/gite-ext/26-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-wood"></div>

<div class="container">
    <h3>Des inspirations du monde, entre terre et mer</h3>
    <p>Son architecture est un mélange de "ma cabane au Canada" et de datcha russe, rustique mais avec une touche contemporaine. Pour la décoration intérieure, la chaleur des matériaux naturels et la sobriété des couleurs sont quant à elles d'inspiration scandinave.</p>
    <p>Le choix des matériaux, des couleurs, la réorganisation des espaces, les ouvertures ont été autant de manières d'instaurer un dialogue permanent entre intérieur et extérieur.</p>
    <div id="int-gallery" class="gallery">
        <a href="/assets/img/gite-int/1.JPG"><img src="/assets/img/gite-int/1-th.jpg"/></a>
        <a href="/assets/img/gite-int/2.JPG"><img src="/assets/img/gite-int/2-th.jpg"/></a>
        <a href="/assets/img/gite-int/3.JPG"><img src="/assets/img/gite-int/3-th.jpg"/></a>
        <a href="/assets/img/gite-int/4.JPG"><img src="/assets/img/gite-int/4-th.jpg"/></a>
        <a href="/assets/img/gite-int/5.JPG"><img src="/assets/img/gite-int/5-th.jpg"/></a>
        <a href="/assets/img/gite-int/6.JPG"><img src="/assets/img/gite-int/6-th.jpg"/></a>
        <a href="/assets/img/gite-int/7.JPG"><img src="/assets/img/gite-int/7-th.jpg"/></a>
        <a href="/assets/img/gite-int/8.JPG"><img src="/assets/img/gite-int/8-th.jpg"/></a>
        <a href="/assets/img/gite-int/9.JPG"><img src="/assets/img/gite-int/9-th.jpg"/></a>
        <a href="/assets/img/gite-int/10.JPG"><img src="/assets/img/gite-int/10-th.jpg"/></a>
        <a href="/assets/img/gite-int/11.JPG"><img src="/assets/img/gite-int/11-th.jpg"/></a>
        <a href="/assets/img/gite-int/12.JPG"><img src="/assets/img/gite-int/12-th.jpg"/></a>
        <a href="/assets/img/gite-int/13.JPG"><img src="/assets/img/gite-int/13-th.jpg"/></a>
        <a href="/assets/img/gite-int/14.JPG"><img src="/assets/img/gite-int/14-th.jpg"/></a>
        <a href="/assets/img/gite-int/15.JPG"><img src="/assets/img/gite-int/15-th.jpg"/></a>
        <a href="/assets/img/gite-int/16.JPG"><img src="/assets/img/gite-int/16-th.jpg"/></a>
        <a href="/assets/img/gite-int/17.JPG"><img src="/assets/img/gite-int/17-th.jpg"/></a>
        <a href="/assets/img/gite-int/18.JPG"><img src="/assets/img/gite-int/18-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-skyline"></div>

<div class="container">
    <h3>Un cadre hors du temps</h3>
    <p class="lead">L'Atelier est un refuge hors du temps, une parenthèse dans le tumulte du quotidien, une bulle de poésie entre terre et mer pour mieux se ressourcer...</p>
</div>

<div class="img-banner-equipment"></div>

<div class="container">
    <h3>Équipements</h3>
    <blockquote>
        <div class="row">
            <div class="col-sm-6">
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/wifi.svg" alt="Internet" /></div>
                    <div class="col-sm-10 col-xs-7">Internet (Wifi &amp; Ethernet)</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/microwave.svg" alt="Four à micro ondes" /></div>
                    <div class="col-sm-10 col-xs-7">Four électrique / micro onde</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/pan.svg" alt="Plaques vitrocéramiques" /></div>
                    <div class="col-sm-10 col-xs-7">Plaques vitrocéramiques</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/fridge.svg" alt="Réfrigérateur" /></div>
                    <div class="col-sm-10 col-xs-7">Réfrigérateur</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/cutlery.svg" alt="Vaisselle" /></div>
                    <div class="col-sm-10 col-xs-7">Vaisselle</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/coffee-machine.svg" alt="Machine à café" /></div>
                    <div class="col-sm-10 col-xs-7">Machine à café</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/kettle.svg" alt="Bouilloire électrique" /></div>
                    <div class="col-sm-10 col-xs-7">Bouilloire électrique</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/bed.svg" alt="Lit" /></div>
                    <div class="col-sm-10 col-xs-7">1 lit 2 pers en 140 x 200 cm (linge de maison fourni)</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/shower.svg" alt="Cabine de douche" /></div>
                    <div class="col-sm-10 col-xs-7">Cabine de douche (serviettes fournies)</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/hairdryer.png" alt="Sèche-Cheveux" /></div>
                    <div class="col-sm-10 col-xs-7">Sèche-cheveux</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/toilet.svg" alt="Toilettes" /></div>
                    <div class="col-sm-10 col-xs-7">Toilettes sèches</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/terrace.svg" alt="Terrasse" /></div>
                    <div class="col-sm-10 col-xs-7">Grande terrasse en bois</div>
                </div>
                <div class="row vertical-align">
                    <div class="col-sm-2 col-xs-3"><img class="icon" src="/assets/img/icons/campfire.svg" alt="Feu de camp" /></div>
                    <div class="col-sm-10 col-xs-7">Feu de camp canadien</div>
                </div>
            </div>
        </div>
    </blockquote>
</div>

<script>
    $(document).ready(function() {
        $("#ext-gallery").lightGallery();
        $("#int-gallery").lightGallery();
    });
</script>
