<div class="container">
    <div class="banner">
        <h1>Naissance d'une cabane</h1>
    </div>

    <h3>Une très belle aventure humaine</h3>
    <p>Deux ans et demi d'autoconstruction, beaucoup d'interrogations, de recherches, de sueur mais surtout une très belle aventure humaine. C'est grâce à la générosité et à la solidarité de très nombreuses personnes que ce projet a pu aboutir. Merci à tous pour m'avoir prêté des outils, conseillée, épaulée, orientée, dépannée, soulagée, et pour avoir réalisé certains travaux au-delà de mes compétences.</p>
    <div id="gallery" class="gallery">
        <a href="/assets/img/cabane/1.JPG"><img src="/assets/img/cabane/1-th.jpg"/></a>
        <a href="/assets/img/cabane/2.JPG"><img src="/assets/img/cabane/2-th.jpg"/></a>
        <a href="/assets/img/cabane/3.JPG"><img src="/assets/img/cabane/3-th.jpg"/></a>
        <a href="/assets/img/cabane/4.JPG"><img src="/assets/img/cabane/4-th.jpg"/></a>
        <a href="/assets/img/cabane/5.JPG"><img src="/assets/img/cabane/5-th.jpg"/></a>
        <a href="/assets/img/cabane/6.JPG"><img src="/assets/img/cabane/6-th.jpg"/></a>
        <a href="/assets/img/cabane/97.JPG"><img src="/assets/img/cabane/97-th.jpg"/></a>
        <a href="/assets/img/cabane/98.JPG"><img src="/assets/img/cabane/98-th.jpg"/></a>
        <a href="/assets/img/cabane/99.JPG"><img src="/assets/img/cabane/99-th.jpg"/></a>
        <a href="/assets/img/cabane/7.JPG"><img src="/assets/img/cabane/7-th.jpg"/></a>
        <a href="/assets/img/cabane/8.JPG"><img src="/assets/img/cabane/8-th.jpg"/></a>
        <a href="/assets/img/cabane/9.JPG"><img src="/assets/img/cabane/9-th.jpg"/></a>
        <a href="/assets/img/cabane/10.JPG"><img src="/assets/img/cabane/10-th.jpg"/></a>
        <a href="/assets/img/cabane/11.JPG"><img src="/assets/img/cabane/11-th.jpg"/></a>
        <a href="/assets/img/cabane/12.JPG"><img src="/assets/img/cabane/12-th.jpg"/></a>
        <a href="/assets/img/cabane/13.JPG"><img src="/assets/img/cabane/13-th.jpg"/></a>
        <a href="/assets/img/cabane/14.JPG"><img src="/assets/img/cabane/14-th.jpg"/></a>
        <a href="/assets/img/cabane/15.JPG"><img src="/assets/img/cabane/15-th.jpg"/></a>
        <a href="/assets/img/cabane/16.JPG"><img src="/assets/img/cabane/16-th.jpg"/></a>
        <a href="/assets/img/cabane/17.JPG"><img src="/assets/img/cabane/17-th.jpg"/></a>
        <a href="/assets/img/cabane/18.JPG"><img src="/assets/img/cabane/18-th.jpg"/></a>
        <a href="/assets/img/cabane/19.JPG"><img src="/assets/img/cabane/19-th.jpg"/></a>
        <a href="/assets/img/cabane/20.JPG"><img src="/assets/img/cabane/20-th.jpg"/></a>
        <a href="/assets/img/cabane/21.JPG"><img src="/assets/img/cabane/21-th.jpg"/></a>
        <a href="/assets/img/cabane/22.JPG"><img src="/assets/img/cabane/22-th.jpg"/></a>
        <a href="/assets/img/cabane/23.JPG"><img src="/assets/img/cabane/23-th.jpg"/></a>
        <a href="/assets/img/cabane/24.JPG"><img src="/assets/img/cabane/24-th.jpg"/></a>
        <a href="/assets/img/cabane/25.JPG"><img src="/assets/img/cabane/25-th.jpg"/></a>
        <a href="/assets/img/cabane/26.JPG"><img src="/assets/img/cabane/26-th.jpg"/></a>
        <a href="/assets/img/cabane/27.JPG"><img src="/assets/img/cabane/27-th.jpg"/></a>
        <a href="/assets/img/cabane/28.JPG"><img src="/assets/img/cabane/28-th.jpg"/></a>
        <a href="/assets/img/cabane/29.JPG"><img src="/assets/img/cabane/29-th.jpg"/></a>
        <a href="/assets/img/cabane/30.JPG"><img src="/assets/img/cabane/30-th.jpg"/></a>
        <a href="/assets/img/cabane/31.JPG"><img src="/assets/img/cabane/31-th.jpg"/></a>
        <a href="/assets/img/cabane/32.JPG"><img src="/assets/img/cabane/32-th.jpg"/></a>
        <a href="/assets/img/cabane/33.JPG"><img src="/assets/img/cabane/33-th.jpg"/></a>
        <a href="/assets/img/cabane/34.JPG"><img src="/assets/img/cabane/34-th.jpg"/></a>
        <a href="/assets/img/cabane/35.JPG"><img src="/assets/img/cabane/35-th.jpg"/></a>
        <a href="/assets/img/cabane/36.JPG"><img src="/assets/img/cabane/36-th.jpg"/></a>
        <a href="/assets/img/cabane/37.JPG"><img src="/assets/img/cabane/37-th.jpg"/></a>
        <a href="/assets/img/cabane/38.JPG"><img src="/assets/img/cabane/38-th.jpg"/></a>
        <a href="/assets/img/cabane/39.JPG"><img src="/assets/img/cabane/39-th.jpg"/></a>
        <a href="/assets/img/cabane/40.JPG"><img src="/assets/img/cabane/40-th.jpg"/></a>
        <a href="/assets/img/cabane/41.JPG"><img src="/assets/img/cabane/41-th.jpg"/></a>
        <a href="/assets/img/cabane/42.JPG"><img src="/assets/img/cabane/42-th.jpg"/></a>
        <a href="/assets/img/cabane/43.JPG"><img src="/assets/img/cabane/43-th.jpg"/></a>
        <a href="/assets/img/cabane/44.JPG"><img src="/assets/img/cabane/44-th.jpg"/></a>
        <a href="/assets/img/cabane/45.JPG"><img src="/assets/img/cabane/45-th.jpg"/></a>
        <a href="/assets/img/cabane/46.JPG"><img src="/assets/img/cabane/46-th.jpg"/></a>
        <a href="/assets/img/cabane/47.JPG"><img src="/assets/img/cabane/47-th.jpg"/></a>
        <a href="/assets/img/cabane/48.JPG"><img src="/assets/img/cabane/48-th.jpg"/></a>
        <a href="/assets/img/cabane/49.JPG"><img src="/assets/img/cabane/49-th.jpg"/></a>
        <a href="/assets/img/cabane/50.JPG"><img src="/assets/img/cabane/50-th.jpg"/></a>
        <a href="/assets/img/cabane/51.JPG"><img src="/assets/img/cabane/51-th.jpg"/></a>
        <a href="/assets/img/cabane/52.JPG"><img src="/assets/img/cabane/52-th.jpg"/></a>
        <a href="/assets/img/cabane/53.JPG"><img src="/assets/img/cabane/53-th.jpg"/></a>
        <a href="/assets/img/cabane/54.JPG"><img src="/assets/img/cabane/54-th.jpg"/></a>
        <a href="/assets/img/cabane/55.JPG"><img src="/assets/img/cabane/55-th.jpg"/></a>
        <a href="/assets/img/cabane/56.JPG"><img src="/assets/img/cabane/56-th.jpg"/></a>
        <a href="/assets/img/cabane/57.JPG"><img src="/assets/img/cabane/57-th.jpg"/></a>
        <a href="/assets/img/cabane/58.JPG"><img src="/assets/img/cabane/58-th.jpg"/></a>
        <a href="/assets/img/cabane/59.JPG"><img src="/assets/img/cabane/59-th.jpg"/></a>
        <a href="/assets/img/cabane/60.JPG"><img src="/assets/img/cabane/60-th.jpg"/></a>
        <a href="/assets/img/cabane/61.JPG"><img src="/assets/img/cabane/61-th.jpg"/></a>
        <a href="/assets/img/cabane/62.JPG"><img src="/assets/img/cabane/62-th.jpg"/></a>
        <a href="/assets/img/cabane/63.JPG"><img src="/assets/img/cabane/63-th.jpg"/></a>
        <a href="/assets/img/cabane/64.JPG"><img src="/assets/img/cabane/64-th.jpg"/></a>
        <a href="/assets/img/cabane/65.JPG"><img src="/assets/img/cabane/65-th.jpg"/></a>
        <a href="/assets/img/cabane/66.JPG"><img src="/assets/img/cabane/66-th.jpg"/></a>
        <a href="/assets/img/cabane/67.JPG"><img src="/assets/img/cabane/67-th.jpg"/></a>
        <a href="/assets/img/cabane/68.JPG"><img src="/assets/img/cabane/68-th.jpg"/></a>
        <a href="/assets/img/cabane/69.JPG"><img src="/assets/img/cabane/69-th.jpg"/></a>
        <a href="/assets/img/cabane/70.JPG"><img src="/assets/img/cabane/70-th.jpg"/></a>
        <a href="/assets/img/cabane/71.JPG"><img src="/assets/img/cabane/71-th.jpg"/></a>
        <a href="/assets/img/cabane/72.JPG"><img src="/assets/img/cabane/72-th.jpg"/></a>
        <a href="/assets/img/cabane/73.JPG"><img src="/assets/img/cabane/73-th.jpg"/></a>
        <a href="/assets/img/cabane/74.JPG"><img src="/assets/img/cabane/74-th.jpg"/></a>
        <a href="/assets/img/cabane/75.JPG"><img src="/assets/img/cabane/75-th.jpg"/></a>
        <a href="/assets/img/cabane/76.JPG"><img src="/assets/img/cabane/76-th.jpg"/></a>
        <a href="/assets/img/cabane/77.JPG"><img src="/assets/img/cabane/77-th.jpg"/></a>
        <a href="/assets/img/cabane/78.JPG"><img src="/assets/img/cabane/78-th.jpg"/></a>
        <a href="/assets/img/cabane/79.JPG"><img src="/assets/img/cabane/79-th.jpg"/></a>
        <a href="/assets/img/cabane/80.JPG"><img src="/assets/img/cabane/80-th.jpg"/></a>
        <a href="/assets/img/cabane/81.JPG"><img src="/assets/img/cabane/81-th.jpg"/></a>
        <a href="/assets/img/cabane/82.JPG"><img src="/assets/img/cabane/82-th.jpg"/></a>
        <a href="/assets/img/cabane/83.JPG"><img src="/assets/img/cabane/83-th.jpg"/></a>
        <a href="/assets/img/cabane/84.JPG"><img src="/assets/img/cabane/84-th.jpg"/></a>
        <a href="/assets/img/cabane/85.JPG"><img src="/assets/img/cabane/85-th.jpg"/></a>
        <a href="/assets/img/cabane/86.JPG"><img src="/assets/img/cabane/86-th.jpg"/></a>
        <a href="/assets/img/cabane/87.JPG"><img src="/assets/img/cabane/87-th.jpg"/></a>
        <a href="/assets/img/cabane/88.JPG"><img src="/assets/img/cabane/88-th.jpg"/></a>
        <a href="/assets/img/cabane/89.JPG"><img src="/assets/img/cabane/89-th.jpg"/></a>
        <a href="/assets/img/cabane/90.JPG"><img src="/assets/img/cabane/90-th.jpg"/></a>
        <a href="/assets/img/cabane/91.JPG"><img src="/assets/img/cabane/91-th.jpg"/></a>
        <a href="/assets/img/cabane/92.JPG"><img src="/assets/img/cabane/92-th.jpg"/></a>
        <a href="/assets/img/cabane/93.JPG"><img src="/assets/img/cabane/93-th.jpg"/></a>
        <a href="/assets/img/cabane/94.JPG"><img src="/assets/img/cabane/94-th.jpg"/></a>
        <a href="/assets/img/cabane/95.JPG"><img src="/assets/img/cabane/95-th.jpg"/></a>
        <a href="/assets/img/cabane/96.JPG"><img src="/assets/img/cabane/96-th.jpg"/></a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#gallery").lightGallery();
    });
</script>
