<div class="banner">
    <h1>Presqu'île de Crozon</h1>
</div>

<div class="container">
    <h3>Petit paradis du bout du monde</h3>
    <p>Venez découvrir une nature sauvage aux 1001 lumières. De très nombreux sentiers, dont le GR 34 vous permettront de découvrir de magnifiques paysages au gré des balades. Située au sein du Parc naturel régional d'Armorique et du Parc naturel d'Iroise, plusieurs sites classés vous offrent un panorama exceptionnel avec des trésors géologiques (classés Espace Remarquable de Bretagne) qui vous feront remonter le temps.</p>

    <div id="presqu-ile-gallery" class="gallery">
        <a href="/assets/img/presqu-ile/1.JPG"><img src="/assets/img/presqu-ile/1-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/2.JPG"><img src="/assets/img/presqu-ile/2-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/3.JPG"><img src="/assets/img/presqu-ile/3-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/4.JPG"><img src="/assets/img/presqu-ile/4-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/5.JPG"><img src="/assets/img/presqu-ile/5-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/6.JPG"><img src="/assets/img/presqu-ile/6-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/7.JPG"><img src="/assets/img/presqu-ile/7-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/8.JPG"><img src="/assets/img/presqu-ile/8-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/9.JPG"><img src="/assets/img/presqu-ile/9-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/10.JPG"><img src="/assets/img/presqu-ile/10-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/11.JPG"><img src="/assets/img/presqu-ile/11-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/12.JPG"><img src="/assets/img/presqu-ile/12-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/13.JPG"><img src="/assets/img/presqu-ile/13-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/14.JPG"><img src="/assets/img/presqu-ile/14-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/15.JPG"><img src="/assets/img/presqu-ile/15-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/16.JPG"><img src="/assets/img/presqu-ile/16-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/17.JPG"><img src="/assets/img/presqu-ile/17-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/18.JPG"><img src="/assets/img/presqu-ile/18-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/19.JPG"><img src="/assets/img/presqu-ile/19-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/20.JPG"><img src="/assets/img/presqu-ile/20-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/21.JPG"><img src="/assets/img/presqu-ile/21-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/22.JPG"><img src="/assets/img/presqu-ile/22-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/23.JPG"><img src="/assets/img/presqu-ile/23-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/24.JPG"><img src="/assets/img/presqu-ile/24-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/25.JPG"><img src="/assets/img/presqu-ile/25-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/26.JPG"><img src="/assets/img/presqu-ile/26-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/27.JPG"><img src="/assets/img/presqu-ile/27-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/28.JPG"><img src="/assets/img/presqu-ile/28-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/29.JPG"><img src="/assets/img/presqu-ile/29-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/30.JPG"><img src="/assets/img/presqu-ile/30-th.jpg"/></a>
        <a href="/assets/img/presqu-ile/31.JPG"><img src="/assets/img/presqu-ile/31-th.jpg"/></a>
    </div>
</div>

<div class="img-banner-horse"></div>

<div class="container">
    <h3>Activités de plein air</h3>
    <p>De nombreuses activités de plein air vous sont proposées : surf, kite surf, randonnée, balades à cheval, avec un âne, kayak, escalade, VTT, nautisme, plongée sous-marine, windsurf, char à voile, etc... Les adeptes de la pêche, à pied ou à la ligne, seront également servis ! Et pour faire une pause, rien de tel qu'une grande plage de sable fin ou une crique aux eaux turquoises.</p>

    <div id="activite-gallery" class="gallery">
        <a href="/assets/img/activites/1.JPG"><img src="/assets/img/activites/1-th.jpg"/></a>
        <a href="/assets/img/activites/2.JPG"><img src="/assets/img/activites/2-th.jpg"/></a>
        <a href="/assets/img/activites/3.JPG"><img src="/assets/img/activites/3-th.jpg"/></a>
        <a href="/assets/img/activites/4.JPG"><img src="/assets/img/activites/4-th.jpg"/></a>
        <a href="/assets/img/activites/5.JPG"><img src="/assets/img/activites/5-th.jpg"/></a>
        <a href="/assets/img/activites/6.JPG"><img src="/assets/img/activites/6-th.jpg"/></a>
        <a href="/assets/img/activites/7.JPG"><img src="/assets/img/activites/7-th.jpg"/></a>
        <a href="/assets/img/activites/8.JPG"><img src="/assets/img/activites/8-th.jpg"/></a>
        <a href="/assets/img/activites/9.JPG"><img src="/assets/img/activites/9-th.jpg"/></a>
        <a href="/assets/img/activites/10.JPG"><img src="/assets/img/activites/10-th.jpg"/></a>
        <a href="/assets/img/activites/11.JPG"><img src="/assets/img/activites/11-th.jpg"/></a>
        <a href="/assets/img/activites/12.JPG"><img src="/assets/img/activites/12-th.jpg"/></a>
        <a href="/assets/img/activites/13.JPG"><img src="/assets/img/activites/13-th.jpg"/></a>
        <a href="/assets/img/activites/14.JPG"><img src="/assets/img/activites/14-th.jpg"/></a>
        <a href="/assets/img/activites/15.JPG"><img src="/assets/img/activites/15-th.jpg"/></a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#presqu-ile-gallery").lightGallery();
        $("#activite-gallery").lightGallery();
    });
</script>