<div class="banner">
    <h1>Réserver</h1>
</div>

<div class="img-banner-book"></div>

<div class="">
    <div class="container">
        <h2>Tarif des locations</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Semaine /</h3>
            </div>
            <div class="col-md-8">
                <blockquote>
                    Basse saison : 350€
                    <footer>(Octobre / Novembre / Décembre / Janvier / Février / Mars)</footer>
                </blockquote>

                <blockquote>
                    Moyenne saison : 480€
                    <footer>(Avril / Mai / Juin / Septembre)</footer>
                </blockquote>

                <blockquote>
                    Haute saison : 580€
                    <footer>(Juillet / Août)</footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Nuitée /</h3>
            </div>
            <div class="col-md-8">
                <blockquote>
                    Hors vacances scolaires, 2 nuits minimum
                </blockquote>

                <blockquote>
                    Basse saison : 65€<br />
                    Moyenne saison : 75€
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8"><p class="lead">Capacité du gîte : 4 personnes</p></div>
        </div>
    </div>
</div>

<div class="img-banner-bridge"></div>

<div class="">
    <div class="container">
        <h2>Prendre contact :)</h2>
        <blockquote>
            Aïcha Dupoy de Guitard<br />
            Gîte l'Atelier<br />
            Kerberon<br />
            29560 — Landévennec<br />
            <abbr title="Téléphone">Tel:</abbr> (+33)6 75 78 75 65<br />
            <a href="mailto:contact@landevennec.com">atelier@landevennec.com</a>
        </blockquote>
    </div>
</div>